
.body {
    background-color: white;
    width: 500px;
    height: 350px;
    border: 1px solid hsl(0, 0%, 50%, 0.8);
    flex-wrap: nowrap;
    display: flex;
    flex: content;
    flex-direction: row;
}